body{
    background-image: url(../images/cat.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
}
main{
    width: 40%;
    color: rgb(255, 255, 255);
}
h2{
    background-image: linear-gradient(to top,  rgb(94, 8, 14), rgba(184, 73, 80, 0.175));
    padding: 10px;
} 
